@font-face {
    font-family: "icons";
    src: url("../../public/fonts/icons.eot?e007859a92d931c46b0a0bc8776a12fc?#iefix") format("embedded-opentype"),
url("../../public/fonts/icons.woff2?e007859a92d931c46b0a0bc8776a12fc") format("woff2"),
url("../../public/fonts/icons.woff?e007859a92d931c46b0a0bc8776a12fc") format("woff"),
url("../../public/fonts/icons.ttf?e007859a92d931c46b0a0bc8776a12fc") format("truetype"),
url("../../public/fonts/icons.svg?e007859a92d931c46b0a0bc8776a12fc#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\f101";
}
.icon-github:before {
    content: "\f102";
}
.icon-twitter:before {
    content: "\f103";
}
