.m-container {
  display: flex;
  min-height: 100vh;

  &.top {
    flex-direction: column;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }
}

.m-main {
  padding: 100px 50px 20px;

  &__title {
    font-size: $font-lg;
    color: $color-shioniro;
  }

  &__link {
    @include link();
  }
}
