.m-header {
  color: #fff;
  &.vertical {
    width: 40.1vh;
    height: 100%;
    padding: 100px 30px 0;
    background: linear-gradient(-73.2deg, $color-fujiiro, $color-shioniro);
  }

  &.top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-16.8deg, $color-fujiiro, $color-shioniro);

    @include sp {
      &::after {
        position: absolute;
        bottom: 5vh;
        width: 20px;
        height: 20px;
        content: '';
        transform: rotate(45deg);
        animation-name: scroll-arrow;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-delay: 1.5s;
        animation-iteration-count: infinite;
        opacity: 0;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
    }
    @include pc {
      align-items: flex-start;
      height: 30.3vw;
      padding: 0 50px;
    }
  }

  &__title {
    &.vertical {
      width: 130px;
      height: 26px;
    }
    &.top {
      width: 50%;
      margin-top: 20vh;

      @include pc {
        width: 240px;
        max-width: 30.3vw;
        height: 48px;
        margin: 0;
      }
    }
  }
}

@keyframes scroll-arrow {
  0% {
    transform: rotate(45deg) translate(-50%, -50%);
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
