.m-header {
  color: #fff;
  &.vertical {
    width: 40.1vh;
    height: 100%;
    padding: 100px 30px 0;
    background: linear-gradient(-73.2deg, $color-fujiiro, $color-shioniro);
    position: fixed;

    @include sp {
      z-index: $z-index-header;
      transition: 0.5s cubic-bezier(0, 0.4, 0.5, 1);
      transform: translateX(-100%);

      &.open {
        transform: translateX(0);
      }
    }
  }

  &.top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-16.8deg, $color-fujiiro, $color-shioniro);

    @include sp {
      &::after {
        position: absolute;
        bottom: 5vh;
        width: 20px;
        height: 20px;
        content: '';
        transform: rotate(45deg);
        animation-name: scroll-arrow;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-delay: 1.5s;
        animation-iteration-count: infinite;
        opacity: 0;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
    }
    @include pc {
      align-items: flex-start;
      height: 30.3vw;
      padding: 0 50px;
    }
  }

  &__title {
    &.vertical {
      width: 130px;
      height: 26px;
    }
    &.top {
      width: 50%;
      margin-top: 20vh;

      @include pc {
        width: 240px;
        max-width: 30.3vw;
        height: 48px;
        margin: 0;
      }
    }
  }

  &__trigger {
    &.vertical {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      transition: transform 0.8s;
      transform: translateX(100%);

      @include pc {
        display: none;
      }

      > span {
        width: 1px;
        height: 25px;
        transform: rotate(30deg);
        transform-origin: bottom;
        background-color: $color-sumi;

        & + span {
          margin-left: 8px;
        }
      }

      &.open {
        transform: translateX(0);
        background-color: transparent;

        > span {
          background-color: #fff;

          &:nth-child(2) {
            margin-left: 12px;
            transition: 0.5s 0.3s;
            transform: rotate(-30deg);
          }

          &:nth-child(3) {
            transition: 0.5s;
            opacity: 0;
          }
        }
      }
    }
  }
}

@keyframes scroll-arrow {
  0% {
    transform: rotate(45deg) translate(-50%, -50%);
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
